@{

    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/welcome.css" />
    <link rel="shortcut icon" href="images/homepageIcon.png">
    <title>Rescue Paws - HOME</title>
</head>

<body class="bg-light">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="images/carousel1.png">
                <div class="carousel-caption d-none d-md-block">
                    <h2 id="ex" style="color: black; font-weight: bold;"> THE STREET DOGS OF ROMANIA</h2>
                    <h3 id="ex" style="color: black; font-weight: bold;"> FEATURING ROSIE MARCEL</h3>
                    <button id="car" type="button" style="font-weight: bold;" class="btn-dark btn-lg" onclick="location.href = 'https://www.youtube.com/watch?v=ewZe81DpzLE';">Watch the documentary</button>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid w-100 d-block" src="images/carousel2.png">
                <div class="carousel-caption d-none d-md-block">
                    <h2 id="ex" style="color: black; font-weight: bold;"> WE RESCUE CATS AND DOGS AND FIND FAMILIES FOR THEM.</h2>
                    <h3 id="ex" style="color: black; font-weight: bold;"> PLEASE DONATE TO HELP US FEED THEM.</h3>
                    <button id="car" type="button" style="font-weight: bold;" class="btn-dark btn-lg" onclick="@("window.location.href='" + @Url.Action("Donate", "Activities") + "'");">Donate</button>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid w-100 d-block" src="images/carousel3.png">
                <div class="carousel-caption d-none d-md-block">
                    <h2 id="ex" style="color: black; font-weight: bolder;"> BECOME A LIFESAVER</h2>
                    <h3 id="ex" style="color: black; font-weight: bolder;"> RESCUE YOUR NEXT PET.</h3>
                    <button id="car" type="button" style="font-weight: bold;" class="btn-lg btn-dark" onclick="@("window.location.href='" + @Url.Action("Adopt", "Activities") + "'");">Adopt Now</button>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid w-100 d-block" src="images/carousel4.png">
                <div class="carousel-caption d-none d-md-block">
                    <h2 id="ex" style="color: black; font-weight: bolder;"> OUR PERFECT COMPANIONS NEVER HAVE FEWER THAN 4 FEET.</h2>
                    <h3 id="ex" style="color: black; font-weight: bolder;"> I CAN'T DO EVERYTHING BUT I CAN DO SOMETHING.</h3>
                    <button id="car" type="button" style="font-weight: bold;" class="btn-lg btn-dark" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");">Create account</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <br>
    <br>



    <div class="container-fluid" style="margin-bottom:25px;">
        <hr>
        <div>
            <h3 id="help">How you can help?</h3>
        </div>
        <br>
        <h4 class="light-hdg" style="text-align: center;"><ins>Rescue Paws helps hundreds of homeless cats and dogs</ins></h4><br>
        <p><strong>Romania has a homeless cats and dogs crisis. The streets are full of stray and abandoned animals, with many of them abused by humans or other animals. We work tirelessly on spaying/neutering as many animals as we can given our resources. We are always looking for responsible and loving homes for our rescues, and we work on educating the citizens and motivating them to give up on abandonment. Our association is small so our footprint in the rescue ecosystem is not as large as we would like, but together we can achieve so much more. You, too, can be part of the solution. Starting with adoption and volunteer work and ending with donations, there are countless ways for you to help eradicate the problem of homeless animals and to help curb the abandonment. This is the only Romania can become a truly civilized country. Fellow Romanians, let’s follow in the footsteps of good countries that applied humane solutions to the homeless animals problem.</strong></p>
        <br>
    </div>
    <div class="container-fluid w-100" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-md-2 offset-md-1">
                <div class="bg-light card border-0 py-2">
                    <img class="card-img-top zoom img-fluid" src="images/adopt.png" alt="Card image cap" onclick="@("window.location.href='" + @Url.Action("Adopt", "Activities") + "'");">
                    <div class="card-body">
                        <h2 class="card-title text-center">Adopt</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-2">
                <div class="card bg-light border-0 py-2">
                    <img class="card-img-top zoom img-fluid" src="images/donate.png" alt="Card image cap" onclick="@("window.location.href='" + @Url.Action("Donate", "Activities") + "'");">
                    <div class="card-body">
                        <h2 class="card-title text-center">Donate</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-2">
                <div class="card bg-light border-0 py-2">
                    <img class="card-img-top zoom img-fluid" src="images/contact.png" alt="Card image cap" onclick="@("window.location.href='" + @Url.Action("Contact", "Home") + "'");">
                    <div class="card-body">
                        <h2 class="card-title text-center">Contact us</h2>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>


    <h3 style="margin-left: 10px; margin-bottom: 35px; margin-top: 35px;" id="help">Our oldest pets</h3>

    <div class="card-group container-fluid" style="margin-bottom: 100px;">
        <div class="card">
            <img class="card-img-top" width="150" height="250" src="images/adoption/cat1.png">
            <div class="card-body">
                <h5 class="card-title">Maya</h5>
                <p class="card-text">Good with other animals, been in the shelter for 5 months.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 35 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" width="150" height="250" src="images/adoption/dog1.png">
            <div class="card-body">
                <h5 class="card-title">Sparky</h5>
                <p class="card-text">Good with everyone, been in the shelter for 6 months.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 2 hours ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" width="150" height="250" src="images/adoption/dog5.png">
            <div class="card-body">
                <h5 class="card-title">Henry</h5>
                <p class="card-text">Good with everyone, been in the shelter for 9 months.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 1 day ago</small>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="margin-bottom: 75px;">
            <div class="col-sm-6">

                <img class="d-block img-fluid" src="/images/shelter.png">
            </div>
            <div class="col-sm-6">

                <div class="ccm-custom-style-container ccm-custom-style-herocolumns17-9569 text">
                    <h2 id="help" style="margin-bottom: 25px;">Who We Are</h2>

                    <p><strong>We are Rescue Paws. An animal shelter, founded in 2018 by some animal lovers. Our mission is to save all healthy and treatable animals in Brasov. Last year we saved over 1,000 lost, homeless, and often mistreated animals.</strong></p>

                    <button type="button" class="btn-lg btn-dark" onclick="@("window.location.href='" + @Url.Action("AboutUs", "Home") + "'");">About us</button>

                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Alert == true)
    {
    <script>
        alert(@TempData["Message"])
    </script>
    }

</body>


</html>